MONGO_URI=mongodb://<username>:<password>@cluster0-shard-00-00.hruudlw.mongodb.net:27017,cluster0-shard-00-01.hruudlw.mongodb.net:27017,cluster0-shard-00-02.hruudlw.mongodb.net:27017/<dbname>?ssl=true&replicaSet=atlas-xyz-shard-0&authSource=admin&retryWrites=true&w=majority
